build/*
*/build/*
.idea/*
cmake-build-debug/
*.pyc
*/__pycache__/*
.DS_Store
pyrela/exps
pyrela/sweep2
pyrela/scripts/*
!pyrela/scripts/ref_dev.sh
!pyrela/scripts/ref_run_apex.sh
!pyrela/scripts/ref_run_r2d2.sh
