build/*
*/build/*
.idea/*
cmake-build-debug/
*.pyc
*/__pycache__/*
.DS_Store
pyrela/exps
pyrela/sweep
pyrela/sweep2
pyrela/sweep3
pyrela/scripts/*
!pyrela/scripts/ref_dev.sh
!pyrela/scripts/ref_run_apex.sh
!pyrela/scripts/ref_run_r2d2.sh
pyrela/.ipynb_checkpoints
*core
*backup*
*.ipynb
atari/roms/*